body {
  background-color: burlywood;
}

header {
  border: none;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
#container-main {
  border-radius: 20px;
  width: 350px;
  height: 250px;
}

#box1 {
  height: 50px;
  width: 350px;
  background-color: #b6540d;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: wheat;
  font-family: "Courier New", Courier, monospace;
}

#box2 {
  display: flex;
  height: 200px;
  background-color: wheat;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #b6540d;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#box2 hr {
  width: 80%;
  height: 0px;
  border: 1px solid #b6540d;
}

input {
  width: 150px;
  height: 30px;
  border: 2px solid #b6540d;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

button {
  height: 30px;
  border: 2px solid #b6540d;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  color: wheat;
  background-color: #b6540d;
}

h1 {
  text-align: center;
  padding: 10px;
}
